.appHome{
    font-size: xx-large;
    width: 35%;
    margin: 1% auto;
    display: grid;
    justify-items: center;
    line-height: 1.9;
}

@media screen and (max-width: 1200px) {
    .appHome {
        display: grid;
        width: 60%;
        position: absolute;
        margin: 10% 20%;
        line-height: 3.5;
        justify-items: center;
    }
}