.navbar{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}
.logo{
    height: 5rem;
}


.linkContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 50px;
    font-size: 1.5rem;
    /* font-family: sans-serif; */
    color: black;
    font-weight: bold;
    width: 55%;
}
.aLinkContainer{
    font-size: 20px;
    /* font-family: poppins; */
    font-weight: normal;
    color: black;
    text-decoration: none;
}
.linkContainer>div {
    width: 100%;
    text-align:center;
    margin: 4%;
}
.divLinkContainer :hover{
    width: 100%;
    text-align:center;
    margin: auto;
    color: white;
    background-color: black;
    padding: .5rem .8rem;
    border-radius: .5rem;
}

.logoContainer{
    margin: 0px 50px;
}

.displayDiv, .divCross{
    display: none;
}

.displayFlexDiv{
    display: flex;
}

.dwnld{
    margin-left: -110px !important;
    margin-top: 45px !important;
}

@media (max-width: 1200px){
    .navbar {
        width: 100%;
        height: 2rem;
        display: flex;
        justify-content: space-between;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    }
    .logo {
        height: 2rem;
    }
    .divCross{
        display: block;
        transform: rotate(45deg);
        padding-top: 0px;
        margin: -20px 0px 0px 70% !important;
    }
    .linkContainer {
        /* display: flex; */
        z-index: 1;
        box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
        flex-direction: column;
        margin: 0px;
        padding-top: 30px;
        font-size: 1.5rem;
        color: black;
        font-weight: bold;
        height: fit-content;
        background: #fff;    
        width: 25%;
    }
    /* .linkContainer:last-child{
        margin-bottom: 300px;
    } */
    .displayDiv{
        display: flex;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        justify-content: flex-start;
    }
    .noDisplayDiv {
        display: none;
    }

    .dwnld {
        margin-left: 0px !important;
        margin-top: 0px !important;
    }
}
