.projectCard{
    margin: 2rem;
    padding: 1rem;
    border: 2px solid;
    border-radius: .5rem;
}

.cardImg{
    width: 100%;
}

.projectDiv{
    display: grid;
    grid-template-columns: auto auto auto;
}

@media  (max-width: 1200px) {
    .projectDiv {
        display: grid;
        grid-template-columns: auto;
    }
}